@import "icon/*.png";
@include all-icon--sprites;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/icon-image/Aoe2de_population.png);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../../assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/iconfont/MaterialIcons-Regular.ttf);
}
  h4.service__title:visited,h4.service__title:link{text-decoration: none;}
  h4.service__title:hover,h4.service__title:active{text-decoration: underline;}
  
  body{
    background-color: rgb(255, 225, 225);
  }
  .btn{
    position: relative;

    width: 20%;
    left:40%;
  }
  .col-6.unit{
    position: relative;
    left:-10%;
  }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
  
}

.btn-primary{
  position: relative;
  left: 30%;
  width:50%;
  border:5px;
  margin:20px;
}
.btn-unit{
  position: relative;
  left: 10%;
  width:50%;
  border:5px;
  margin:20px;
}
body{
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

a:hover, a:focus{
  text-decoration: none;
}

button:focus{
  outline: none;
}

.main-wrapper{
  width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1599px) {
.main-wrapper{
    width:100%;
    margin: 0 auto;
}}

@media (min-width: 768px) {
.container{
    width:600px;
    margin: 0 auto;
}}

@media (min-width: 992px) {
.container{
    width:720px;
    margin: 0 auto;
}}

@media (min-width: 1200px) {
.container{
    width:1400px;
    margin: 0 auto;
}}

.header--bg{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
    background: url("../../assets/images/aoe2de-bg.jpg") no-repeat;
    height: 800px;
    position: relative;
    background-size: cover;
    filter:Alpha(opacity=100)
  }



.header .navbar{
    padding-top: 30px;
    margin-bottom: 200px;
  }

@media screen and (max-width: 450px) {
      .header .navbar{
        margin-bottom: 150px;
      }
    }

.header .navbar-brand{
    font-size: 26px;
    font-weight: bold;
  }

.header .nav li a{
    font-size: 15px;
    color: #fff;
  }

.header__content__title{
    font-size: 50px;
    font-weight: bold;
    font-family: fantasy;
    color:black;
    letter-spacing: 13px;
    margin-bottom: 25px;
  }

.header__content__paragraph{
    font-size: 20px;
    font-family: fantasy;
    color: black;
    max-width: 530px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

.header .navbar .navbar-nav > li > a, .header .navbar .navbar-brand, .header .navbar .navbar-nav > li > a:focus{
    background-color: transparent;
    color: black;
  }

.navbar-header button{
  background-color: #ddd;
}

.navbar-header .icon-bar{
  background-color: #fff !important;
}

@media screen and (max-width: 768px){
  .navbar-collapse{
    float: left;
  }

  .header .button{
    margin-bottom: 10px;
  }

  .header .header__content__title{
    letter-spacing: 6px;
    
  }
}


.panel__button{
  display: inline-block;
  font-size: 15px;
  color: #7d7d7d;
  padding: 8px 35px;
  border: 2px solid #7d7d7d;
  border-radius: 30px;
  font-family: Roboto-Light;
  font-weight: bold;
}

.service .thumbnail{
    background-color: white;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(168, 157, 157, 0.31);
            box-shadow: 0px 0px 5px 0px rgba(168, 157, 157, 0.31);
    padding: 35px 20px;
    margin-bottom: 60px;
  }

.service .thumbnail:hover{
      -webkit-box-shadow: 2px 5.66px 20px 0px rgba(136, 136, 136, 0.2);
              box-shadow: 2px 5.66px 20px 0px rgba(136, 136, 136, 0.2);
    }

.service .thumbnail:hover .service__title{
        color: #00aafe;
      }

.service .thumbnail:hover .material-icons{
        background-color: rgb( 0, 170, 254 );
        -webkit-box-shadow: 0px 0px 15px 0px rgb( 0, 170, 254 );
                box-shadow: 0px 0px 15px 0px rgb( 0, 170, 254 );
        color: #fff;
      }

.service__title{
    font-size: 22px;
    font-weight: bold;
    color: #4f4f4f;
    margin-top: 25px;
    margin-bottom: 15px;
  }

.service .material-icons{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb( 235, 248, 255 );
    color: rgb( 0, 170, 254 );
    font-size: 30px;
    line-height: 0.933;
    line-height: 2.3;
  }

.service__paragraph{
    font-size: 15px;
    color: #8a8a8a;
  }

.service .gutters-40.row{
    margin-right: -20px;
    margin-left: -20px;
  }

.service .gutters-40 > [class^="col-"], .service .gutters-40 > [class^="col-"]{
    padding-right: 20px;
    padding-left: 20px;
  }

.Ellipse_ {
  border-radius: 50%;
  background-color: rgb( 0, 170, 254 );
  -webkit-box-shadow: 0px 0px 15px 0px rgb( 0, 170, 254 );
          box-shadow: 0px 0px 15px 0px rgb( 0, 170, 254 );
  position: absolute;
  left: 284px;
  top: 1154px;
  width: 71px;
  height: 71px;
  z-index: 437;
}

.page-section{
  padding-top: 100px;
  padding-bottom: 90px;
}

@media screen and (max-width: 900px){

.page-section{
    padding-top: 50px;
    padding-bottom: 50px
}
  }

.page-section--large{
    padding-top: 220px;
    padding-bottom: 135px;
  }

@media screen and (max-width: 900px){

.page-section--large{
      padding-top: 110px;
      padding-bottom: 80px
  }
    }

.page-section--small{
    padding-top: 50px;
    padding-bottom: 140px;
  }

.page-section--less-b-padding{
    padding-bottom: 80px;
  }

.page-section__title{
    font-size: 75px;
    font-weight: bold;
    color: black;
    font-family: fantasy;
    margin-bottom: 25px;
  }

.page-section__title--white{
      font-size: 50px;
      font-family: fantasy;
      font-weight: bold;
      color: black;
      margin-top: 70px;
    }

@media screen and (max-width: 670px) {
        .page-section__title--white{
          margin-top: 105px;
        }
      }

.page-section__title--white--less-margin{
        margin-top: 40px;
      }

.page-section__paragraph{
    font-size: 30px;
    font-family: fantasy;
    color: black;
    max-width: 590px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
  }

.page-section__paragraph--less-padding{
      padding-bottom: 30px;
      color: #f1f1f1;
    }

.page-section__paragraph--white{
      font-size: 18px;
      color: black;
      font-family: Roboto-Light;
      margin-bottom: 50px;
    }

.contact--bg{
    -webkit-clip-path: polygon(0 32%, 100% 10%, 100% 100%, 0% 100%);
            clip-path: polygon(0 32%, 100% 10%, 100% 100%, 0% 100%);
    background: url("../../assets/images/aoe2de-bg2.jpg") no-repeat;
    height: 430px;
    position: relative;
    background-size: cover;
  }

@media screen and (max-width: 1198px) {
      .contact--bg{
        -webkit-clip-path: polygon(0 32%, 100% 15%, 100% 100%, 0% 100%);
                clip-path: polygon(0 32%, 100% 15%, 100% 100%, 0% 100%);
      }
    }

@media screen and (max-width: 900px) {
      .contact--bg{
        height: auto;
      }
    }

@media screen and (max-width: 670px) {
      .contact--bg{
        -webkit-clip-path: polygon(0 32%, 100% 28%, 100% 100%, 0% 100%);
                clip-path: polygon(0 32%, 100% 28%, 100% 100%, 0% 100%);
      }
    }

.contact--bg:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      /* background-color: rgba(5, 180, 249, .9); */
      z-index: -1;
    }

.about--narrow{
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
  }

.about__content-title{
    font-size: 75px;
    color: black;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0;
    padding-top: 10px;
  }
p{
  font-size: 20px;
  font-weight: bold;
  font-family: fantasy;
}
.about__content-subTitle{
    font-size: 17px;
    color: #848484;
    font-family: Roboto-Light;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 40px;
  }

.about__content-paragraph{
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
   
  }

@media screen and (max-width: 770px) {
      .about__extra-padding{
        padding: 0px 20px;
  }
}

.gutters-50.row{
  margin-right: -25px;
  margin-left: -25px;
}

.gutters-50 > [class^="col-"], .gutters-50 > [class^="col-"]{
  padding-right: 25px;
  padding-left: 25px;
}

